/*google'dan font import etme*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif; /* large fontlar için text family*/ 
    --sm-font:'Poppins', sans-serif;    /* small fontlar için text family (General Font) */
    --pink: #e5345b; /* Sık kullanıcağımız rengi tanıttık */
    --neutral-white:#FFFFFF;
  } 
body{
    font-family: var(--sm-font);
}

/*buton*/

/*buton*/
.btn:not(.nav-btns button){
    background-color: aliceblue;
    color: rgba(85, 85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
   
}
.btn:not(.nav-btns button):hover{
   
   color: aliceblue;
   
}


/*navbar gölgelendirme*/
.navbar{
  background: var(--neutral-white, #FFF);
  /* Shadow/4px */
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.40);
  
}
/*navbar logo resmi*/

/*navbar marka text'i*/
.navbar-brand span{
letter-spacing: 3px;
font-family: var(--lg-font);
}
/*Navbar Linkleri (Animasyon)*/

/*Navbar itemleri */
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.indicatorss{
  fill: var(--brand-primary, #4CAF4F);
}
/*register button*/
.registerbtn{
display: flex;
padding: 4.674px 10.684px;
justify-content: center;
align-items: center;
gap: 2.671px;
border-radius: 1.335px;
background: var(--brand-primary, #4CAF4F);
cursor: pointer;
max-width: 30%;
}
.registerbtn2{
  
 
  padding: 14.674px 50.684px;
 margin-right: 100% !important;
  gap: 2.671px;
  border-radius: 1.335px;
  background: var(--brand-primary, #4CAF4F);
  cursor: pointer;
}
/*register text*/
.registertext{
color: white;
text-align: center;
/* Body/Medium/Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.img1{
  display: flex;
  width: 300px;
  height: 346px;
  
  
}
/*footer-iki*/
#footeriki{
  display: flex;
width:100%;
padding: 30.684px 30px;
flex-direction: column;
align-items: center;
gap: 10.684px;
background: var(--neutral-silver, #F5F7FA);
}
.fth1{
  width: 300.14px;
  
text-align: center;
font-family: Inter;
font-size: 20.367px;
font-style: normal;
font-weight: 600;
line-height: 25.374px; /* 118.75% */
display: flex;
justify-content: center;

}

.getdemobtn{
  display: flex;
padding: 4.674px 10.684px;
justify-content: center;
align-items: center;
gap: 2.671px;
border-radius: 1.335px;
background: var(--brand-primary, #4CAF4F);
}
/*footer-two*/
footer .brand{
  font-family: var(--lg-font);
  letter-spacing: 3px;
}
footer a{
  
  transition: color 0.3s ease;
}
footer a:hover{
  color: var(--neutral-white)!important;
}

/*media queries*/
@media(min-width:992px){
    .nav-item{
        border-bottom: none; /*nav itemlerinin altındaki çizgiyi kaldırdı*/
    }
}
.carousel-inner{
  display: flex;
padding: 52.051px ;

align-items: center;
gap: 34.722px;
align-self: stretch;
background: var(--neutral-silver, #F5F7FA);
}

.h5{
  color: black;
}
.h1-1{
  color: #4CAF4F;
  
}
.cardlar{
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.684px;
  flex: 1 0 0;
}
.clients{
  display: flex;
width: 480.768px;
padding: 0px 48.077px;
flex-direction: column;
align-items: center;
gap: 5.342px;
}
.oclients{
  display: flex;
flex-direction: column;
align-self: stretch;

color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Inter;
font-size: 62.019px;
font-style: normal;
font-weight: 600;
line-height: 35.69px;
}
.clientssub{
  display: flex;
  flex-direction: column;
  align-self: stretch;

  color: var(--neutral-grey, #717171);
text-align: center;
font-family: Inter;
font-size: 19.342px;
font-style: normal;
font-weight: 400;
line-height: 8.013px;
}
.client-logos{
  display: flex;
  
}
.lg{
  width: 13.355px;
height: 13.355px;
flex-shrink: 0;
}

/*community cards*/
.card{

  align-items: center;
  display: flex;
  border-radius: 2.671px;
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 0.6677330732345581px 1.3354661464691162px 0px rgba(171, 190, 209, 0.20);
}
.card img{
  width: 41.701px;
height: 38.697px;
border-radius: 6.01px 1.669px 3.339px 1.669px;
background: var(--tint-t-5, #E8F5E9);
}
.card-title{
  display: flex;
flex-direction: column;
align-self: stretch;

color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Inter;
font-size: 23.348px;
font-style: normal;
font-weight: 700;
line-height: 18.019px;
}
/*unlock*/

.unlock{
  display: flex;
width: 480.768px;
padding: 0px 48.077px;
justify-content: space-between;
align-items: center;
}
.unlockp{
  display: flex;
flex-direction: column;
align-self: stretch;

color: var(--neutral-grey, #717171);
font-family: Inter;
font-style: normal;
font-weight: 400;

}
.unlockbtn{
  display: flex;
  padding: 4.674px 10.684px;
  justify-content: center;
  align-items: center;
  gap: 3.339px;

  border-radius: 1.335px;
background: var(--brand-primary, #4CAF4F);
}
.frame35{
  width: 247.569px;
height: 244.564px;
flex-shrink: 0;
}
/*achievments*/
#Achievements{
  display: flex;
  width: 100%px;
  padding: 21.367px 48.077px;
  justify-content: space-between;
  align-items: center;
  background: var(--neutral-silver, #F5F7FA);
}
.achivmentheading{
  display: flex;
width: 180.288px;
flex-direction: column;
align-items: flex-start;
gap: 2.671px;
flex-shrink: 0;
}
.count{
  display: flex;
flex-direction: column;
align-items: center;
gap: 13.355px;
}
.details{
  display: flex;
flex-direction: column;
align-items: flex-start;
}
.row1{
  display: flex;
align-items: center;
gap: 10.016px;
}
.row2{
  display: flex;
align-items: center;
gap: 10.016px;
}
.colnumber{
  width: 63.769px;
  color: var(--neutral-d-grey, #4D4D4D);
font-family: Inter;
font-size: 19.348px;
font-style: normal;
font-weight: 700;
line-height: 12.019px; /* 128.571% */
}
.collabel{
  color: var(--neutral-grey, #717171);
font-family: Inter;
font-size: 18.342px;
font-style: normal;
font-weight: 400;
line-height: 8.013px; /* 150% */
}
.col1{
  display: flex;
align-items: center;
gap: 5.342px;
}
/*calender(unlcok)*/
.calenderh{
  align-self: stretch;
  color: var(--neutral-d-grey, #4D4D4D);
font-family: Inter;
font-size: 22.019px;
font-style: normal;
font-weight: 600;
line-height: 14.69px; /* 122.222% */
}
.calenderp{
  align-self: stretch;
  color: var(--neutral-grey, #717171);
font-family: Inter;
font-size: 16.674px;
font-style: normal;
font-weight: 400;
line-height: 20.677px; /* 142.857% */
}
/*Customer's*/
#customers{
  display: flex;
width: 100%;
padding: 10.684px 78.077px;
align-items: center;
gap: 26.042px;
background: var(--neutral-silver, #F5F7FA);
}
.customerh{

  align-self: stretch;
  color: var(--brand-primary, #4CAF4F);
font-family: Inter;

font-style: normal;
font-weight: 600;
line-height: 9.348px; /* 140% */
}
.customerp{
  
  align-self: stretch;
  color: var(--neutral-grey, #717171);
font-family: Inter;
font-size: 19.342px;
font-style: normal;
font-weight: 500;
line-height: 28.013px; /* 150% */
}
.customerp2{
  align-self: stretch;
  color: var(--neutral-l-grey, #89939E);
font-family: Inter;
font-size: 14.342px;
font-style: normal;
font-weight: 400;
line-height: 18.013px; /* 150% */
}
.registerbtn3{
 
  padding: 2.671px;
  align-items: center;
  gap: 2.671px;
  flex: 1 0 0;
  width: 0ch;
}
.registertext3{
  display: flex;
  width: auto;
  color: var(--brand-primary, #4CAF4F);
font-family: Inter;
font-size: 17.677px;
font-style: normal;
font-weight: 1500;
line-height: 15.348px; /* 140% */
}
/*community updates*/
#community-updates{
  display: flex;
flex-direction: column;
align-items: center;
gap: 5.342px;
padding-bottom: 7ch;
}
/*community*/
.community{
  display: flex;
width: 370.592px;
flex-direction: column;
align-items: center;
gap: 2.671px;
}
.communityH{
 
 
  color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Inter;
font-size: 43.019px;
font-style: normal;
font-weight: 1000;
line-height: 54.69px; /* 122.222% */
}
.communityP{
  width: auto;
  color: var(--neutral-grey, #717171);
text-align: center;
font-family: Inter;
font-size: 19.342px;
font-style: normal;
font-weight: 400;
line-height: 18.013px; /* 150% */
}
.frame-15{
  display: flex;
width: 480.768px;
padding: 0px 48.077px;
justify-content: space-between;
align-items: center;
}
.cardimages{
  width: auto;
height: 230.486px;
display: flex;

}
.cards-0{
  margin-left: 2ch;
  max-width: 30ch;
  width: 89%;
  margin-top: -8ch;
  position: absolute;
  display: flex;
padding: 15.342px;
flex-direction: column;
align-items: center;
gap: 5.342px;
border-radius: 2.671px;
background: var(--neutral-silver, #c6c8ca);
box-shadow: 0px 2.6709322929382324px 5.341864585876465px 0px rgba(171, 190, 209, 0.40);
}
.readmorebtn{
  display: flex;
padding: 2.671px;
justify-content: center;
align-items: center;
gap: 2.671px;
align-self: stretch;
}

.ilk{
  display: flex;
flex-direction: column;
align-items: center;
gap: -32.051px;
}
.lf-input{
  color: #000000 !important;
  width: auto;
  position: relative;
  display: inline-block;
  font-size: larger;
  font-weight: 600;}
